.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.centerElements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.randomColorBox {
  height: 200px;
  background: red;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.initialAnimation {
  animation-name: initialMovement;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  @keyframes initialMovement {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translateX(calc(-50vw + 100px)) translateY(calc(-20vh + 20px));
    }
  }
}

.xAnimation {
  animation-name: xColorbox;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  @keyframes xColorbox {
    0% {
      transform: translateX(calc(-50vw + 100px));
    }
    100% {
      transform: translateX(calc(50vw - 128px));
    }
  }
}
.yAnimation {
  animation-name: yColorbox;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

  @keyframes yColorbox {
    0% {
      transform: translateY(calc(-20vh + 20px));
    }
    100% {
      transform: translateY(calc(60vh - 50px));
    }
  }
}
.button {
  height: 50px;
  width: 100px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
}
